<div class="field center">
  <%= link_to '現在のテーマ', three_path(@user, @now_theme) %>
</div>

<div class="field center">
  <h2><%= @project.title %></h2>
</div>

<p>
  <div class="field center">
    <%= @now_theme.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H:%M:%S") %>
  </div>
</p>

<div class="field cenetr">
  |
</div>

<%= render 'form', {theme: @theme, project: @project} %>

