  <p>
    <button id="enterFullscreen">フルスクリーンで見る</button>
  </p>
<div id="content">
  <!-- 001
  <p>
    <button id="exitFullscreen" >フルスクリーンを解除</button>
  </p>
  -->
  <div class="slider">
    <div class="slides">
      <div class="slide-contents grd"  tabindex="0">
        <br>
        <h1 class="title-8">Threee</h1>
        <br>
        <p class="title-3">7月期生：大塚昂士</p>
      </div>
      <div class="slide-contents grd"  tabindex="0">
      <p class="title-5 grd">目次</p>
        <ul>
        <li class="title-3 margin-10">アプリケーションの使い方</li>
        <li class="title-3">アプリケーション開発のきっかけ</li>
        <li class="title-3">その他（こだわりポイント、使用した技術など）</li>
        </ul>
      </div>
      <div class="slide-contents grd"  tabindex="0">
        <p class="title-5">アプリケーションの使い方</p>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">アプリケーションの使い方</p>
        <ol>
        <li class="title-3 margin-10">三つのテーマを上げる</li>
        <li class="title-3">三つのテーマをもとに取り組む</li>
        <li class="title-3">ふとした時に三つのテーマを振り返る</li>
        </ol>
      </div>
      <div class="slide-contents"  tabindex="0">
      <p class="title-5">アプリケーションの使い方</p>
        <ol>
        <li class="title-3 margin-10">三つのテーマを上げる</li>
        <li class="title-3  gray-b">三つのテーマをもとに取り組む</li>
        <li class="title-3 gray-b">ふとした時に三つのテーマを振り返る</li>
        </ol>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">プログラミングの学習</p>
        <p class="title-3 margin-10 gray-b">テーマ①</p>
        <p class="title-3 gray-b">テーマ②</p>
        <p class="title-3 gray-b">テーマ③</p>
      
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">プログラミングの学習</p>
        <p class="title-3 margin-10 bluegray">時間をはかる</p>
        <p class="title-3 gray-b">テーマ②</p>
        <p class="title-3 gray-b">テーマ③</p>
      </div>

      <div class="slide-contents"  tabindex="0">
        <p class="title-5">プログラミングの学習</p>
        <p class="title-3 margin-10 gray-b">時間をはかる</p>
        <p class="title-3 bluegray">姿勢に気をつける</p>
        <p class="title-3 gray-b">テーマ③</p>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">プログラミングの学習</p>
        <p class="title-3 margin-10 gray-b">時間をはかる</p>
        <p class="title-3 gray-b">姿勢に気を付ける</p>
        <p class="title-3 bluegray">定期的に水を飲む</p>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">プログラミングの学習</p>
        <p class="title-3 margin-10">時間をはかる</p>
        <p class="title-3">姿勢に気を付ける</p>
        <p class="title-3">定期的に水を飲む</p>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">プログラミングの学習</p>
        <p class="title-3 margin-10">時間をはかる</p>
        <p class="title-3">姿勢に気を付ける</p>
        <p class="title-3">定期的に水を飲む</p>
        <p class="">↑</p>
        <p class="title-3 blue">閲覧できるヨ！！</p>
      </div>
      <div class="slide-contents"  tabindex="0">
      <p class="title-5">アプリケーションの使い方</p>
        <ol>
        <li class="title-3 margin-10 gray-b">三つのテーマを上げる</li>
        <li class="title-3">三つのテーマをもとに取り組む</li>
        <li class="title-3 gray-b">ふとした時に三つのテーマを振り返る</li>
        </ol>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">プログラミングの学習</p>
        <p class="title-3 margin-10">時間をはかる</p>
        <p class="title-3">姿勢に気を付ける</p>
        <p class="title-3">定期的に水を飲む</p>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">💻プログラミングの学習</p>
        <p class="title-3 margin-10">🕛時間をはかる</p>
        <p class="title-3">🪑姿勢に気を付ける</p>
        <p class="title-3">🚰定期的に水を飲む</p>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5 pos0 center">💻</p>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5 pos0 center">💻</p>
        <p class="title-3 pos0 tri-1">🕛</p>
        <p class="title-3 pos0 tri-2">🪑</p>
        <p class="title-3 pos0 tri-3">🚰</p>
        <p class="circle-notice"></p>

      </div>
      <div class="slide-contents"  tabindex="0">
      <p class="title-5">アプリケーションの使い方</p>
        <ol>
        <li class="title-3 margin-10 gray-b">三つのテーマを上げる</li>
        <li class="title-3 gray-b">三つのテーマをもとに取り組む</li>
        <li class="title-3">ふとした時に三つのテーマを振り返る</li>
        </ol>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">プログラミングの学習</p>
        <p class="title-3 margin-10">時間をはかる</p>
        <p class="title-3">姿勢に気を付ける</p>
        <p class="title-3">定期的に水を飲む</p>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">プログラミングの学習</p>
        <p class="title-3 margin-10 bluegray">時間をはかる</p>
        <p class="title-3 gray-b">姿勢に気を付ける</p>
        <p class="title-3 gray-b">定期的に水を飲む</p>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">プログラミングの学習</p>
        <p class="title-3 margin-10 bluegray">|</p>
        <p class="title-3 gray-b">姿勢に気を付ける</p>
        <p class="title-3 gray-b">定期的に水を飲む</p>
      </div>
      <div class="slide-contents"  tabindex="0">
        <p class="title-5">プログラミングの学習</p>
        <p class="title-3 margin-10 green">集中力を高める</p>
        <p class="title-3 gray-b">姿勢に気を付ける</p>
        <p class="title-3 gray-b">定期的に水を飲む</p>
      </div>
      <div class="slide-contents title-2"  tabindex="0">
        <h1>履歴</h1>
        <table class="field">
          <thead>
            <tr>
              <th>テーマ　①</th>
              <th>テーマ　②</th>
              <th>テーマ　③</th>
              <th></th>
            </tr>
          </thead>
        
          <tbody>
              <tr>
                <td>集中力を高める</td>
                <td>姿勢に気を付ける</td>
                <td>定期的に水を飲む</td>
                <td>変更後</td>
              </tr>
              <tr>
                <td>時間をはかる</td>
                <td>姿勢に気を付ける</td>
                <td>定期的に水を飲む</td>
                <td>変更前</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="slide-contents title-2"  tabindex="0">
        <h1>履歴</h1>
        <table class="field">
          <thead>
            <tr>
              <th>テーマ　①</th>
              <th>テーマ　②</th>
              <th>テーマ　③</th>
              <th></th>
            </tr>
          </thead>
        
          <tbody>
              <tr>
                <td class="green">集中力を高める</td>
                <td class="gray-b">姿勢に気を付ける</td>
                <td class="gray-b">定期的に水を飲む</td>
                <td class="green">変更後</td>
              </tr>
              <tr>
                <td class="bluegray">時間をはかる</td>
                <td class="gray-b">姿勢に気を付ける</td>
                <td class="gray-b">定期的に水を飲む</td>
                <td class="bluegray">変更前</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="slide-contents"  tabindex="0">
      <p class="title-5">アプリケーションの使い方</p>
        <ol>
        <li class="title-3 margin-10">三つのテーマを上げる</li>
        <li class="title-3">三つのテーマをもとに取り組む</li>
        <li class="title-3">ふとした時に三つのテーマを振り返る</li>
        </ol>
      <div class="slide-contents grd"  tabindex="0">
        <p class="title-5">アプリケーションについて</p>
      </div>
      <div class="slide-contents"  tabindex="0">
      <p class="title-5">制作期間：約3週間</p>
        <ul>
        <li class="title-3 margin-10">要件定義合格：約2週間</li>
        <li class="title-3">卒業課題合格：約1週間</li>
        <li class="title-3">卒業発表準備：約1/2週間</li>
        </ul>
      </div>
      <div class="slide-contents"  tabindex="0">
      <p class="title-5">こだわりポイント</p>
        <ul>
        <li class="title-3 margin-10">履歴機能</li>
        <li class="title-3">お気に入り機能</li>
        <li class="title-3">公開機能</li>
        </ul>
      </div>
      <div class="slide-contents"  tabindex="0">
      <p class="title-5">苦労した点</p>
        <ul>
        <li class="title-3 margin-10">テーブル設計（履歴機能）</li>
        <li class="title-3">履歴機能を実装する際にページを把握するのに時間がかかった</li>
        </ul>
      </div>
      <div class="slide-contents"  tabindex="0">
      <p class="title-5">使用した技術</p>
        <ul>
        <li class="title-3 margin-10">AWS EC2（デプロイ）</li>
        <li class="title-3">Ajax, JQuery（お気に入り機能、公開機能）</li>
        <li class="title-3">Bootstrap（デザイン）</li>
        <li class="title-3">gem ‘devise’（ログイン機能）</li>
        <li class="title-3">gem ‘ransack’（タイトル検索機能）</li>
        </ul>
      </div>
      <div class="slide-contents"  tabindex="0">
      <p class="title-5">今後の展望</p>
        <ul>
        <li class="title-3 margin-10">メモ機能（自分のプロジェクトに対しての）</li>
        <li class="title-3">時間表示機能</li>
        <li class="title-3">試行回数表示機能</li>
        </ul>
      </div>
      <div class="slide-contents"  tabindex="0">
      <p class="title-5">クロージングへ</p>
      </div>
      <div class="slide-contents"  tabindex="0">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $("#enterFullscreen").on("click", function() {
      var x = document.getElementById("content");
      if (x.webkitRequestFullScreen) {
        x.webkitRequestFullScreen();
      } else if (x.mozRequestFullScreen) {
        x.mozRequestFullScreen();
      } else {
        x.requestFullScreen();
      }
    })
  // //001
  //   $("#exitFullscreen").on("click", function() {
  //     if (document.webkitCancelFullScreen) {
  //       document.webkitCancelFullScreen();
  //     } else if (document.mozCancelFullScreen) {
  //       document.mozCancelFullScreen();
  //     } else {
  //       document.exitFullscreen();
  //     }
  //   })
  })
  
</script>