<h2>Threee</h2>
<p>（ログイン中）</p>
<br><br><br><br>
<p>箇条書きアプリ</p>

<p>
今自分が気にしているテーマを３つ箇条書きにして書く。


今自分が気にしていたいテーマを３つ箇条書きにして書くアプリケーションです。

例えば、家事や作業、趣味など日ごろ自分が続けていることについて
自分でテーマを設定して作業中や作業後に思い出しやすくしてくれます。
テーマについて考え込むことよりも数をこなすことが重要だと考えて
3つのテーマに制限し、ユーザーからみてシンプルな設計をめざしました。
箇条書きを3つにすることには頭の中で意識できるようにする意図もあります。

ぜひ、このアプリケーションを使ってみてください
</p>

<% if user_signed_in? %>
<% end %>


<p></p>
<p></p>
<p></p>
<p></p>
<p></p>