<%= link_to favorites_path(project_id: project.id), id: "fav-#{project.id}", remote: true, method: :post do %>
  <p>
    <div class="field center">
      <h1 class="fav-false">❤</h1>
    </div>
  </p>
<% end %>