
<div class="field">
<h1>プロジェクト　リスト</h1>

<table class="field">
  <thead>
    <tr>
      <th>名前</th>
      <th>タイトル</th>
      <th>作成日時</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.user.name, my_page_path(project.user) %></td>
        <td><%= link_to project.title, three_path(project.user, project.user, project.themes.order(created_at: :desc).first.id) %></td>
        <td><%= project.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_project_path %>

</div>